.app {
    min-height: 100vh;
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      'header'
      'main'
      'footer';
}

.main {
    grid-area: main;
    padding: 2em;
}